{% extends 'base.html' %}

{% block title %}OURST|home{% endblock %}

{% block maincontent %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>Do IT!</h1>
					<hr class="small">
					<span class="subheading">Everyone has time, just stop watching fucking L0st.</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="post-preview">
				<a href="post.html">
					<h2 class="post-title">
						Markdown 初次使用经历
					</h2>
					<h3 class="post-subtitle">
						我相信，一百个完美的计划也比不上一次失败的尝试。
					</h3>
				</a>
				<p class="post-meta">Posted by <a href="#">Ourst</a> on June 16, 2015</p>
			</div>
			<hr>
			<div class="post-preview">
				<a href="post.html">
					<h2 class="post-title">
						常用的Oracle数据库操作
					</h2>
					<h3 class="post-subtitle">
						数据库是信息爆炸时代发展的坚实基础。
					</h3>
				</a>
				<p class="post-meta">Posted by <a href="#">Ourst</a> on June 16, 2015</p>
			</div>
			<hr>
			<!-- Pager -->
			<ul class="pager">
				<li class="next">
					<a href="#">Older Posts &rarr;</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<hr>
{% endblock %}